.clients-page{
  background: #f1f4f5;
  padding-top: 15px;
  position: relative;
  @media only screen and (min-width: 900px) {
    height: 100%;
  }
  &>.container-fluid {
    height: 100%;
    padding-bottom: 15px;
    &>.panel-default {
      height: 100%;
      border: 1px solid #DDDDDD;
      margin: 0 auto;
      &>.panel-body{
        height: 100%;
        position: relative;
        padding: 0;
      }
    }
  }


  #page-data{
    position: relative;
  }

  .add-new-client-btn{
    text-align: right;
    .add-new-client-text{
      font-size: 21px;
    }
  }
  .page-title{
    text-align: left;
  }
  .add-new-client-btn{

  }
  .contacts-loading{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    i{
      color: #18bc9c;
    }
  }
  .table-blur-effect{
    opacity: 0.5;
  }
  .left-column{
    margin: 0;
    padding: 0;
    border-right: 1px solid #DDDDDD;
    height: 100%;
    position: relative;
    input, select{
      text-rendering: auto;
      color: initial;
      letter-spacing: normal;
      word-spacing: normal;
      text-transform: none;
      text-indent: 0;
      text-shadow: none;
      display: inline-block;
      text-align: start;
      font: 11px BlinkMacSystemFont;

      border: 1px solid #d0d0d0;
      background-color: #fcfcfc;
      border-radius: 15px;
      padding: 6px 15px 6px 30px;
      margin: 3px;
      width: 100%;
      height: 27px;
    }
    button{
      font: 11px BlinkMacSystemFont;
    }
    .search.rounded{
      background: url(../static/img/search.png) no-repeat 8px 6px;
    }

    .top-search-form{
      padding: 30px 15px 15px 15px;
      border-bottom: 1px solid #DDDDDD;
    }
    .search-btn-container{
      margin-top: 25px;
    }

  }
  .right-column{
    padding: 0;
    margin: 0;
    height: 100%;
    position: relative;
  }
  .top-right-section{
    width: 100%;
    border-bottom: 1px solid #DDDDDD;
    padding: 15px;
    margin: 0;
  }
  .clients-list-container{
    padding: 15px;
    overflow-y: auto;
    position: relative;
    @media only screen and (min-width: 768px) {
      height: calc(100% - 200px);
    }
    @media only screen and (max-width: 768px) {
      height: 500px;
    }
    &>h3{
      margin-top: 5px;
    }
  }


  .client-name-list{
    padding: 0;
  }
  .pagination-container{
    text-align: center;
    .pagination > li > a, .pagination > li > span {
      padding: 10px 10px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .clients-page {
    .add-new-client-text {
      display: none;
    }
  }
}

.modal-container{
  height: 800px;
  position: absolute;
}
