.clients-page{
  background: #f1f4f5;

  #page-data{
    position: relative;
  }

  .add-new-client-btn{
    text-align: right;
    .add-new-client-text{
      font-size: 21px;
    }
  }
  .page-title{
    text-align: center;
  }
  .add-new-client-btn{
    position: absolute;
    right: 30px;
    top: 0;
  }
  .contacts-loading{
    position: absolute;
    top: 30%;
    left: 50%;
    text-align: center;
    i{
      color: #18bc9c;
    }
  }
  .table-blur-effect{
    opacity: 0.5;
  }
}

@media only screen and (max-width: 768px) {
  .add-new-client-text{
    display: none;
  }
}

.modal-container{
  height: 800px;
  position: absolute;
}
@media only screen and (max-width: 375px) {
  .pagination > li > a, .pagination > li > span {
    padding: 10px 10px;
  }
}
